.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
        margin-bottom: 12px;
    }

    input {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }
}